#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;

}

.episode-layout{
  display:flex;
  flex-direction:column;
  gap:2em;
  margin: 0 5%;
}


.ind-movie{
  display:flex;
  border:3px black solid;
  background-color: lightgray;
  border-radius:20px;
  gap:2em;
  justify-content: flex-start;
  padding:2em;
  flex-wrap: wrap;
}

.movie-poster{
  max-height:85%;
  min-height:55%;
  border-radius:10px;
  max-width: 100%;
}

.movie-text{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  flex: 1;
 
}

.positive-correlation{
  color:green;
}

.negative-correlation{
  color:red;
}

li{
  list-style: none;
}

.nav-bar{
 display:flex;
 justify-content: space-evenly;
 flex-wrap:wrap;
}

.movies-position{
  margin-top:2rem;
  display:flex;
  flex-direction:column;
  gap:2em;
}

.home-layout{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.sort-filters{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:2em;
}

.active-button{
  background-color:darkgray;
}

.filter-buttons{
  display:flex;
  gap:2em;
}
